back-end/node-red-data/flows.json
[
    {
        "id": "8f5d2d7f6fe7e30b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc574c21f212a065",
        "type": "mqtt-broker",
        "name": "emqx",
        "broker": "emqx",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eba7d9852ed7360b",
        "type": "mqtt in",
        "z": "8f5d2d7f6fe7e30b",
        "name": "",
        "topic": "esp32/vision/verify",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "bc574c21f212a065",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "a447de88f2f8716d"
            ]
        ]
    },
    {
        "id": "a447de88f2f8716d",
        "type": "template",
        "z": "8f5d2d7f6fe7e30b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 620,
        "y": 400,
        "wires": [
            [
                "8ac2e6fda5ee7771"
            ]
        ]
    },
    {
        "id": "8ac2e6fda5ee7771",
        "type": "http request",
        "z": "8f5d2d7f6fe7e30b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.200.118:3000/api/vehicle/?license_plate={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 400,
        "wires": [
            [
                "d7a389eb7fb587f2"
            ]
        ]
    },
    {
        "id": "d432b1df8e2e53dc",
        "type": "mqtt out",
        "z": "8f5d2d7f6fe7e30b",
        "name": "",
        "topic": "esp32/gate/control",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc574c21f212a065",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "31b210b0dbe62c4e",
        "type": "mqtt out",
        "z": "8f5d2d7f6fe7e30b",
        "name": "",
        "topic": "esp32/vision/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc574c21f212a065",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "d7a389eb7fb587f2",
        "type": "switch",
        "z": "8f5d2d7f6fe7e30b",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "404",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "7f9fa1dea4506c15"
            ],
            [
                "ea910af04bb75ba5"
            ]
        ]
    },
    {
        "id": "7f9fa1dea4506c15",
        "type": "change",
        "z": "8f5d2d7f6fe7e30b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gate",
                "pt": "flow",
                "to": "OK",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "vision",
                "pt": "flow",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ea910af04bb75ba5",
        "type": "change",
        "z": "8f5d2d7f6fe7e30b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gate",
                "pt": "flow",
                "to": "NO",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "vision",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d1842d7aa89d0963",
        "type": "template",
        "z": "8f5d2d7f6fe7e30b",
        "name": "flow.gate",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.gate}}",
        "output": "str",
        "x": 620,
        "y": 300,
        "wires": [
            [
                "d432b1df8e2e53dc"
            ]
        ]
    },
    {
        "id": "0d6fcc1001be12a1",
        "type": "template",
        "z": "8f5d2d7f6fe7e30b",
        "name": "flow.vision",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.vision}}",
        "output": "str",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "31b210b0dbe62c4e"
            ]
        ]
    },
    {
        "id": "4241cd1b6ffd93c7",
        "type": "complete",
        "z": "8f5d2d7f6fe7e30b",
        "name": "",
        "scope": [
            "7f9fa1dea4506c15",
            "ea910af04bb75ba5"
        ],
        "uncaught": false,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "0d6fcc1001be12a1",
                "d1842d7aa89d0963"
            ]
        ]
    }
]